<!-- app/templates/consulta_nombre.html -->
{% extends "base.html" %}
{% block contenido %}
<h2>Buscar por Nombre</h2>

<form method="POST">
    <input type="text" name="nombre" placeholder="Ingrese nombre del paciente" class="form-control" required>
    <button type="submit" class="btn btn-primary mt-2">Buscar</button>
</form>
 <a href="{{ url_for('formulario.formulario') }}" class="btn btn-primary">Ir al Consulta Enfermería</a>
{% if resultados %}
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultados %}
        <tr>
            <td>{{ r.paciente }}</td>
            <td>{{ r.edad }}</td>
            <td>{{ r.sexo }}</td>
            <td><a href="{{ url_for('formulario.detalle', registro_id=r.id) }}">Ver detalle</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
